.heading {
  font-size: 23px;
  width: 100%;
  margin: 0px;
}

#status {
  font-size: 18px;
}

body {
  background-position: center;
  background-size: cover;
}

canvas {
  box-shadow: 10px 10px 10px grey;
  border-radius: 10px;
  margin-top: 60px;
}

a {
  font-size: 25px !important;
  border-radius: 30px !important;
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 5px;
  float: right;
}

a:hover {
  color: red !important;
}
